.parent{
    padding: 10%, 20%, 20%, 30%;
    height: 95%;
    align-self: center;
    width: 80%;
    display: grid;
    grid-column: 2;
}
body{
    background-color: rgba(12, 10, 10, 0.589);
}
.child_one{
    display: inline-flex;
    height: 40%;
    

}
.son{
    background-color: red;
    width: 250px;
    padding: 5px;
    height: 5rem;
    margin: .2rem;
    
}
.daughter{
    background-color: orange;
    width: 140px;
    padding: 5px;
    height: 5rem;
    margin: .2rem;
}
.child_two{
    height: 50%;
    display: grid;
    width: 250px;
}
.mona{
    background-color: green;
    display: block;
    height: 10rem;
    width: 255px;
    margin: .2 rem;
}
.lisa{
    width: 150px;
    padding: 10px;
    display: block;
    grid-row: 2 span;
}
.first{
    background-color: aqua;
    height: 4rem;
    padding: 10px;
    border: 2px;
    margin: .2rem;
}
.second{
    background-color: aqua;
    height: 6rem;
    padding: 10px;
    margin: .2rem;
}